<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.washmaintance.mapper.WashRoomPicsMapper">

    <resultMap id="BaseResultMap" type="com.washmaintance.pojo.WashRoomPics">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="pic" column="pic" jdbcType="VARCHAR"/>
            <result property="washRoomId" column="wash_room_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pic,wash_room_id
    </sql>
</mapper>
